---
import Principal from "../layouts/Principal.astro";
---

<Principal>

  <div id="content-page">
    <section id="inicio" class="">
        <div id="inicio-izquierda">
            Imagen de WebMagic
        </div>
        <div id="inicio-derecha">
            <p>WebMagic</p>
        </div>
    </section>
  </div>
</Principal>